@extends('[[custom_master]]')

@section('content')

<!--<h2>[[model_uc]]</h2>-->
<div role="group">
    <a href="{{ url('[[route_path]]/') }}" class="waves-effect waves-light btn btn-flat" role="button">
        List of {{ ucfirst('[[model_plural]]') }}
    </a>
    <a href="{{route('[[route_path]].destroy', [$[[model_singular]]->id])}}"
       class="waves-effect waves-light btn btn-flat waves-red red-text"
       role="button"
       onclick="return doDelete({!! $[[model_singular]]->id !!})">
        Delete {{ ucfirst('[[model_uc]]') }}
    </a>
</div>
<div class="clearfix">
</div>

<br/>
<div class="form-panel">

    <h3>Update [[model_uc]]</h3>


    {!! Form::model($[[model_singular]], ['url' => '[[route_path]]/' . $[[model_singular]]->id ]) !!}

    {{ csrf_field() }}

    <input type="hidden" name="_method" value="PATCH">

    @include('[[model_plural]]._form')

    <div class="row">
        <div class="col s6 m4 l3">
            <button type="submit" class="btn btn-flat primary-color-text wave-indigo">
                Update
            </button>
        </div>
        <div class="col s6 m4 l3">
            <button type="button" class="btn btn-flat primary-color-text wave-indigo">
                Cancel
            </button>
        </div>
    </div>
    {!! Form::close() !!}

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large accent-color" title="Add {{ ucfirst('[[model_uc]]') }}"
           href="{{ url('[[route_path]]/create') }}">
            <i class="large material-icons">add</i>
        </a>

    </div>
</div>

@endsection

@section('scripts')

<script type="text/javascript">
  function doDelete(id) {
    if (confirm('Do you really want to delete this record?')) {
      $.ajax({
        url: '{{ url(' / [[route_path]]') }}/' + id,
        type: 'DELETE',
        success: function () {
          window.location.reload();
        },
        error: function () {
          alert('Woops! Something went wrong. Internal error.');
        }
      });
    }
    return false;
  }
</script>

@endsection