@extends('[[custom_master]]')

@section('content')

<h2 class="page-header">[[model_uc]]</h2>

<div class="btn-group" role="group">
    <a href="{{ url('[[route_path]]/') }}" class="btn btn-primary btn-sm" role="button">
        <i class="glyphicon glyphicon-th-list"></i>
        List of {{ ucfirst('[[model_plural]]') }}
    </a>
    <a href="{{ url('[[route_path]]/create') }}" class="btn btn-primary btn-sm" role="button">
        <i class="glyphicon glyphicon-plus"></i>
        Create {{ ucfirst('[[model_uc]]') }}
    </a>
    <a href="{{route('[[route_path]].edit', [$[[model_singular]]->id])}}" class="btn btn-warning btn-sm" role="button">
        <i class="glyphicon glyphicon-pencil"></i>
        Update {{ ucfirst('[[model_uc]]') }}
    </a>
    <a href="{{route('[[route_path]].destroy', [$[[model_singular]]->id])}}" class="btn btn-danger btn-sm" role="button"
       onclick="return doDelete({!! $[[model_singular]]->id !!})">
        <i class="glyphicon glyphicon-remove"></i>
        Delete {{ ucfirst('[[model_uc]]') }}
    </a>
</div>
<div class="clearfix"></div>
<br/>

<div class="panel panel-default">
    <div class="panel-heading">
        View [[model_uc]]
    </div>

    <div class="panel-body">

        {!! Form::model($[[model_singular]], ['url' => '[[route_path]]', 'class' => 'form-horizontal']) !!}

        [% for column in columns %]

        <div class="form-group">
            {!! Form::label('[[column.name]]', '[[column.display]]:', ['class' => 'col-sm-3 control-label']) !!}
            <div class="col-sm-6">
                [% if column.type=='id' %]
                {!! Form::text('[[column.name]]', $[[model_singular]]->[[column.name]], ['class' => 'form-control',
                'readonly' => 'readonly'])!!}
                [% endif %]
                [% if column.type=='text' %]
                {!! Form::text('[[column.name]]', $[[model_singular]]->[[column.name]], ['class' => 'form-control',
                'readonly' => 'readonly'])!!}
                [% endif %]
                [% if column.type=='number' %]
                {!! Form::number('[[column.name]]', $[[model_singular]]->[[column.name]], ['class' => 'form-control',
                'readonly' => 'readonly'])!!}
                [% endif %]
                [% if column.type=='related' %]
                {!! Form::text('[[column.name]]', $[[model_singular]]->[[column.relatedName]]->name, ['class' =>
                'form-control', 'readonly' => 'readonly'])!!}
                [% endif %]
                [% if column.type=='date' %]
                {!! Form::date('[[column.name]]', $[[model_singular]]->[[column.name]], ['class' => 'form-control',
                'readonly' => 'readonly'])!!}
                [% endif %]
                [% if column.type=='textarea' %]
                {!! Form::textarea('[[column.name]]', $[[model_singular]]->[[column.name]], ['class' => 'form-control',
                'readonly' => 'readonly'])!!}
                [% endif %]
                [% if column.type=='unknown' %]
                {!! Form::text('[[column.name]]', $[[model_singular]]->[[column.name]], ['class' => 'form-control',
                'readonly' => 'readonly'])!!}
                [% endif %]

            </div>
        </div>

        [% endfor %]

        {!! Form::close() !!}

    </div>
</div>

@endsection

@section('scripts')

<script type="text/javascript">
  function doDelete(id) {
    if (confirm('Do you really want to delete this record?')) {
      $.ajax({
        url: '{{ url('/[[route_path]]') }}/' + id,
        type: 'DELETE',
        success: function () {
          window.location.reload();
        },
        error: function () {
          alert('Woops! Something went wrong. Internal error.');
        }
      });
    }
    return false;
  }
</script>

@endsection